.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
application/config/config.php
application/config/database.php
application/config/memcached.php
!application/logs/index.html
!application/logs/.htaccess

public/upload/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
*.swp
*.zip

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

